.git/
.github/
.husky/
.vscode/
docs/
eslint/
etc/
node_modules/

.dockerignore
.env.example
.eslintrc.cjs
.gitignore
.gitattributes
.graphqlrc.yml
.node-version
.prettierignore
lint-staged.config.js
vitest.config.ts
