[submodule "upstream/common"]
	path = upstream/common
	url = https://github.com/Bangumi/common
	branch = master

[submodule "upstream/proto"]
	path = upstream/proto
	url = https://github.com/Bangumi/proto
	branch = master
[submodule "dev-env"]
	path = upstream/dev-env
	url = https://github.com/bangumi/dev-env.git
	branch = gh-pages
