<html lang='zh'>
  <head>
    <title>{{ title | default: 'Bangumi 番组计划' }}</title>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.min.js'></script>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css'
    >
    <script src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>

    <link rel='shortcut icon' href='https://lain.bgm.tv/img/favicon.ico' type='image/x-icon'>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content -%}
    {%- endblock %}
  </body>
</html>
