{% layout 'layout' %}

{% block content %}
<script src='https://cdn.jsdelivr.net/npm/vue@3'></script>
{% raw %}
  <div class='container mt-5' id='container'>
    <div class='row' v-if='data.current'>
      <img :src='data.current.thumbnail' alt='' class='img-thumbnail col-3'>
      <h1>当前封面</h1>
    </div>
    <hr>
    <div class='row'>
      <div class='col-3' v-for='cover in data.covers' :key='cover.id'>
        <img :src='cover.thumbnail' alt='' class='img-thumbnail row'>

        <div class='row'>
          <a v-if='!cover.voted' v-on:click='vote(cover.id);'>投票</a>
          <a v-else v-on:click='unvote(cover.id);'>撤消投票</a>
        </div>
      </div>
    </div>
  </div>
{% endraw %}

<script>
  const subjectID = '{{ subjectID }}';

  Vue.createApp({
    el: '#container',
    data() {
      return {
        data: { covers: [] },
      };
    },
    async created() {
      const res = await fetch(`/p1/wiki/subjects/${subjectID}/covers`);
      this.data = await res.json();
      console.log('vue instance created');
    },
    mounted() {},
    methods: {
      async vote(id) {
        console.log('vote for id', id);
        const res = await fetch(`/p1/wiki/subjects/${subjectID}/covers/${id}/vote`, {
          method: 'post',
        });
        if (res.ok) {
          location.reload();
        }
      },
      async unvote(id) {
        console.log('vote for id', id);
        const res = await fetch(`/p1/wiki/subjects/${subjectID}/covers/${id}/vote`, {
          method: 'delete',
        });
        if (res.ok) {
          location.reload();
        }
      },
    },
  }).mount('#container');
</script>

{% endblock %}
