{% assign title = 'login' %}
{% layout 'layout' %}

{% block head %}
<script src='https://challenges.cloudflare.com/turnstile/v0/api.js' async defer></script>
{% endblock %}

{% block content %}
<div class='container mt-5'>
  <div class='row'>
    <ul class='list-group error-details'></ul>
  </div>
  <div class='row'>
    <form>
      <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Email address</label>
        <input
          type='email'
          class='form-control'
          name='email'
          id='exampleInputEmail1'
          aria-describedby='emailHelp'
        >
        <div id='emailHelp' class='form-text'>email</div>
      </div>
      <div class='mb-3'>
        <label for='exampleInputPassword1' class='form-label'>Password</label>
        <input
          type='password'
          name='password'
          class='form-control'
          id='exampleInputPassword1'
        >
      </div>
      <div class='mb-3'>
        <div
          class='cf-turnstile'
          data-action='login'
          data-sitekey='{{ TURNSTILE_SITE_KEY }}'
          data-theme='light'
        ></div>
      </div>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('form').on('submit', function (e) {
      e.preventDefault();
      $('.error-details').html('');
      const data = {};
      Array.from($('form').serializeArray()).forEach(({ name, value }, index) => {
        data[name] = value;
      });

      if (!'cf-turnstile-response' in data) {
        return;
      }

      async function submit() {
        const res = await fetch('/p1/login', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data),
        });
        if (res.status > 300) {
          turnstile.reset();
          const d = await res.json();
          if (res.status === 401) {
            const remain = res.headers.get('X-RateLimit-Remaining');
            $('.error-details')
              .append(`<li class="m-1 list-group-item list-group-item-danger">${d.message}</li>`)
              .append(
                `<li class="m-1 list-group-item list-group-item-danger">剩余登录次数: ${remain}</li>`,
              );
          } else {
            console.log(d);
            $('.error-details').prepend(
              `<li class="m-1 list-group-item list-group-item-danger">${d.message}</li>`,
            );
          }
        } else {
          console.log(await res.json());

          let qs = new URLSearchParams(location.search);

          const to = qs.get('to') ?? '/demo/';

          if (to.startsWith('/')) {
            location.href = to;
          } else {
            location.href = '/demo/';
          }
        }
      }

      submit();
    });
  });
</script>
{% endblock %}
