<html lang='en'>
  <head>
    <title>{{ title | default: 'Bangumi 番组计划' }}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='maximum-scale=1.0,initial-scale=1.0'>
    <link
      rel='apple-touch-icon-precomposed'
      href='https://bgm.tv/img/ico/ico_ios.png'
    >
    <link
      rel='shortcut icon'
      href='https://bgm.tv/img/favicon.ico'
      type='image/x-icon'
    >
    <script src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>

    <link
      rel='stylesheet'
      type='text/css'
      href='/demo/static/style/mobile.css?r373'
    >

    <link
      rel='shortcut icon'
      href='https://bgm.tv/img/favicon.ico'
      type='image/x-icon'
    >

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id='header' class='clearit'>
      <div id='badge'>
        {% if user %}
          <a
            class='avatar l'
            href='https://bgm.tv/user/{{ user.username }}'
          >
            {{- user.nickname -}}
          </a>
          <a href='javascript:void 0;' onclick='logout()'>登出</a>
        {% else %}
          <a href='/demo/'>登录</a>
        {% endif %}
      </div>
      <div id='logo'>
        <a href='/demo/m2'><h1>Bangumi 番组计划</h1></a>
      </div>
    </div>
    <ul id='nav' class='clearit'>
      <li><a href='/demo/m2' class='focus'>超展开</a></li>
      <li><a href='/demo/m2/timeline'>TODO: 时空管理局</a></li>
      <li><a href='/demo/m2/prg'>TODO: 进度管理</a></li>
    </ul>

    <script>
      async function logout() {
        await fetch('/p1/logout', {
          method: 'post',
          headers: { 'content-type': 'application/json' },
          body: '{}',
        });
        location.reload();
      }
    </script>

    {% block content -%}
    {%- endblock %}
  </body>
</html>
