name: ci

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust:
    runs-on: ubuntu-24.04
    env:
      TARGET: x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - run: cargo fmt --all --check
      - run: cargo clippy --workspace --all-targets --locked
      - run: cargo build --release --locked --target $TARGET -p bangumi-backend

      - run: docker build --build-arg TARGET=$TARGET -t tmp-rust -f Dockerfile.rust .
      - run: docker run --rm tmp-rust --help

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: ./.github/actions/setup-js-env

      - run: pnpm exec prettier --check .
      - run: pnpm exec tsc
      - run: pnpm run lint

      # check generated code fresh
      - run: pnpm run build-common
      - run: pnpm run format
      - run: git diff --exit-code

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          repository: 'bangumi/dev-env'
          path: 'dev-env'
          ref: gh-pages
      - run: mv dev-env $HOME/dev-env
      - run: cd ~/dev-env && docker compose up -d

      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-js-env

      - run: bash $HOME/dev-env/wait_mysql_ready.sh

      - run: pnpm run test --coverage
        timeout-minutes: 10
        env:
          REDIS_URI: 'redis://:redis-pass@127.0.0.1:6379/0'

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  rust-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: taiki-e/install-action@nextest

      - run: cargo nextest run --workspace --locked

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: docker build -t tmp -f Dockerfile .
      - run: docker run tmp ./dist/index.mjs --help

      # test mq native module
      - run: docker run tmp ./dist/mq.mjs --help
