name: ci

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: npm

      - run: npm ci

      - run: npx prettier --check ./
      - run: npx tsc --noEmit --pretty
      - run: npm run lint

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'bangumi/dev-env'
          path: 'dev-env'

      - run: mv dev-env $HOME/dev-env

      - run: cd ~/dev-env && docker-compose up -d

      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: npm

      - run: npm ci

      - run: bash $HOME/dev-env/wait_mysql_ready.sh

      - run: npm run coverage
        timeout-minutes: 1

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: |
          export "TAG_HASH=${DOCKER_FILE_HASH:0:10}-${LOCK_FILE_HASH:0:10}"

          if ! docker pull "${IMAGE}:base-${TAG_HASH}"; then
            echo "build base docker image"
            docker build -t "${IMAGE}:base-${TAG_HASH}" -f etc/base.dockerfile .
          fi

          docker tag "${IMAGE}:base-${TAG_HASH}" base-image

        env:
          LOCK_FILE_HASH: "${{ hashFiles('yarn.lock') }}"
          DOCKER_FILE_HASH: "${{ hashFiles('etc/*.dockerfile') }}"
        name: get base docker image

      - run: docker build -t tmp -f etc/main.dockerfile .
      - run: docker run tmp --help
