name: Release(Docker)

on:
  push:
    tags:
      - v*
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-24.04
    env:
      IMAGE: 'ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}'

    concurrency:
      group: ${{ github.workflow }}-${{ github.sha }}
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v5

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - run: echo "SHA=$(git show --no-patch --no-notes --date=short-local --pretty='%as-%h')" >> $GITHUB_ENV
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        env:
          TZ: UTC

      - run: echo "SHA=${{github.ref_name}}" >> $GITHUB_ENV
        if: ${{ startsWith(github.ref, 'refs/tags/') }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}
          tags: |
            type=semver,pattern=v{{version}}

            type=ref,event=branch
            type=ref,event=branch,suffix=-{{ sha }}
            type=ref,event=branch,suffix=-${{ env.SHA }}

            type=raw,value=${{ env.SHA }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Final Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./
          provenance: false
          file: ./Dockerfile
          build-args: ARG_REF=${{ env.SHA }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
