name: rolling

on:
  push:
    branches: [master]

concurrency:
  group: rolling
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-tag:
    if: ${{ github.repository_owner == 'bangumi' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.ADMIN_TOKEN }}

      - run: echo "CURRENT_VERSION=v$(jq .version ./package.json -r)" >> $GITHUB_ENV

      - run: echo get tag ${{ env.CURRENT_VERSION }}

      - uses: bbonkr/git-tag-check-action@v1
        id: git_tag_check
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: '${{ env.CURRENT_VERSION }}'

      - uses: rickstaa/action-create-tag@v1
        if: ${{ steps.git_tag_check.outputs.tag == '' }}
        id: 'tag_create'
        with:
          tag: '${{ env.CURRENT_VERSION }}'
          tag_exists_error: false
          message: 'bump: ${{ env.CURRENT_VERSION }}'

  github:
    if: ${{ github.repository_owner == 'bangumi' }}
    runs-on: ubuntu-24.04
    needs:
      - auto-tag
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up git-cliff
        uses: kenji-miyake/setup-git-cliff@v2

      - run: echo "NEW_TAG=$(git cliff --bumped-version)" >> $GITHUB_ENV
      - run: echo "NEW_VERSION=${NEW_TAG#v}" >> $GITHUB_ENV

      - run: git cliff --unreleased -o changelog.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: echo -e "\n## Full Commits\n" >> changelog.md

      - run: git log --oneline v$(jq .version package.json -r)..master >> changelog.md

      - run: python ./.github/scripts/avoid-changelog-ref.py changelog.md

      - run: |
          jq '.version = "${{ env.NEW_VERSION }}"' package.json > tmp
          rm package.json
          mv tmp package.json

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT }}
          title: 'bump: ${{ env.NEW_VERSION }}'
          push-to-fork: bangumi-bot/server-private
          branch: 'ci/release-next-version'
          body-path: changelog.md
          commit-message: 'bump: ${{ env.NEW_VERSION }}'
